<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="github"><b>GITHUB_SEARCH APP</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="search">Search<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/about">About</a> 
      </div>
        </div>
  </nav>
  <div class="jumbotron">
    <ul>
      <li class="list-item">following: {{user.following}}</li>
      <li class="list-item">followers : {{user.followers}}</li>
      <li class="list-item">Repository : {{user.public_repos}}</li>
      <li class="list-item">created at : {{user.created_at}}</li>
      <!-- <li>Repos :{{repos.searchTerm}}</li> -->
    </ul>
    </div>
    <div class="list-items" *ngFor let repo of repos>
        <p>{{repo.searchTerm}}</p>
  </div>


  