/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image:url('https://thumbs.dreamstime.com/b/github-website-logo-logo-github-samsung-tablet-holded-arab-muslim-man-github-web-based-git-version-control-102706328.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: white;
}
avatar{
    border-radius: 50%;
}